.footerContainer{
    background-color: var(--background);
    border-top: 1px solid #9c228643;
    text-align: center;
    align-content: center;
    padding: 0;
    margin: 0;
    height: min-content;
}

.footerContainer p{
    font-size: 1.4vh;
    color: #9c2286ab;
    padding: 0.4vh 0;
    margin: 0;
}