.dashboardContainer {
  display: flex;
  height: 100%;
  min-height: 86vh;
  background-color: var(--background);
  flex-direction: column;
}

.dashboardContainerNav {
  display: flex;
  flex-wrap: wrap;
  width: 100vw;
  height: min-content;
  gap: 1.4vh;
  padding: 2.4vh 1.4vh 1.4vh 1.4vh;
  align-items: stretch;
  background-color: #f8f9fa;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.218);
  justify-content: space-between;
}

.dasboardLogo{
    display: flex;
    padding: 0 0 0 2vh;
    margin: 0;
    height: 3vh;
    gap: 1vh;
}

.dasboardLogo img{
    object-fit: cover;
    height: 3vh;
}

.dasboardLogo h2{
    font-size: 2vh;
    color: rgba(0, 0, 0, 0.733);
    font-weight: bolder;
    margin: 0;
}

.dashboardChildren {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.dashboardNav{
    padding: 0 8vh;
}

.dashboardLink {
  padding: var(--link-padding);
  font-size: var(--link-font-size);
  color: var(--foreground);
  text-decoration: none;
  border-radius: var(--border-radius);
  transition: background-color var(--transition), color var(--transition);
}

.dashboardLink:hover {
  background-color: rgba(0, 114, 245, 0.129);
}

.dashboardLinkActive {
  padding: var(--link-padding);
  font-size: var(--link-font-size);
  color: var(--primary-color);
  background-color: rgba(0, 114, 245, 0.15);
  border-radius: var(--border-radius);
  text-decoration: none;
  transition: background-color var(--transition), color var(--transition);
}

.dashboardOutlet {
  flex-grow: 1;
  height: 100%;
  width: 100%;
  padding: 2vh;
  margin: 0vh auto;
}

/* ==== Responsive ==== */

@media (max-width: 640px) {
  .dashboardNav {
    flex-direction: column;
    align-items: stretch;
  }

  .dashboardLink,
  .dashboardLinkActive {
    width: 100%;
    text-align: center;
  }

  .dashboardOutlet {
    padding: 1rem;
  }
}

@media (min-width: 641px) and (max-width: 1024px) {
  .dashboardNav {
    justify-content: space-around;
  }
  .dashboardOutlet {
    padding: 1.5rem;
  }
}
