.userManagmentContainer {
    padding: 0vh;
    background-color: #f9f9f9;
    height: 100%;
    box-sizing: border-box;
}

.userManagmentTitle {
    font-size: 3vh;
    color: #222;
    margin: 0;
    padding: 0;
    text-align: center;
}

.noUsersText {
    text-align: center;
    font-size: 2.5vh;
    color: #999;
    padding: 3vh;
}

.userTable{
    width: 80%;
    margin: 2vh auto;
    border-collapse: collapse;
    background-color: var(--background);
}

.userTable th,
.userTable td {
    padding: 1.5vh 2vh;
    text-align: left;
    font-size: 1.8vh;
    border-bottom: 1px solid #cacaca;
}

.userTable td {
    font-size: 1.4vh;
    color: #333333da;
}

.userTable th {
    background-color: #003599;
    color: #fff;
    font-weight: 500;
}

thead {
  display: table;
  width: calc(100% - 0.9em);
  table-layout: fixed;
  background-color: #003566;
  color: #fff;
  position: sticky;
  top: 0;
  z-index: 1;
}

tbody {
  display: block;
  max-height: 68vh;
  overflow-y: auto;
}

tbody tr {
  display: table;
  width: 100%;
  table-layout: fixed;
}

.userTableRow:nth-child(even) {
    background-color: #e6f0ff;
}

.deleteButton{
    background: none;
    color: red;
    border: none;
    cursor: pointer;
    padding: 0;
}

/* Responsive */

@media (max-width : 1024px) {
    .userTable {
        width: 95%;
    }

    .userTable th,
    .userTable td {
        font-size: 1.8vh;
        padding: 1.2vh 1.5vh;
    }
}
@media (max-width: 768px) {
    .userTable th,
    .userTable td {
        font-size: 1.6vh;
        padding: 1vh;
    }

    .userManagmentTitle {
        font-size: 3vh;
    }

    .noUsersText {
        font-size: 2vh;
    }
}


